*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: black;
    color: white;
}
#header{
    width: 100%;
    height: 100vh;
    font-size: large;
    background-image: url(images/bggg.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 80% center;
    background-attachment: fixed;
}

nav ul li a {
    font-size: 18px; /* Adjust size as needed */
    font-weight: bold; /* Optional: Makes text bold */
    text-transform: uppercase; /* Optional: Makes text uppercase */
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -10px;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    margin: 25px 30px;
}
nav ul li a{
    text-decoration: none;
    font-weight:bold;
    font-size: large;
    color: pink;
    position: relative;
}
nav ul li a::after{
content:'';
background-color: rgb(237, 126, 145);
width: 0;
height: 4px;
position: absolute;
left: 0;
bottom:-5px;
transition: 0.3s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 7%;
    font-size: 30px;
}
.header-text h1{
   margin-top: 20px;
}
.header-text p{
    font-weight: 500;
}
.header-text h1 span{
    color: rgb(239, 149, 164);
}
/*--------------------about--------------------*/
#about{
    padding: 60px 10px;
    color: rgba(208, 146, 156, 0.915);
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-col-1{
    flex-basis: 40%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 20px;
}
.about-col-2{
    flex-basis: 50%;
    padding: 25px 0px;
}
.sub-title {
font-weight:600;
color: white;
}
.sub-para{
    color: rgb(230, 156, 169);
    font-size: larger;
}
.tab-titles{
    display: flex;
    margin: 30px 10px 15px 3px ;
}
.tab-links{
    margin-right: 40px;
    font-size:larger;
    font-weight: 400;
    color: aliceblue;
    position: relative;
    cursor: pointer;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 4px;
    position: absolute;
    transition: 0.4s;
    background-color: rgb(218, 133, 147);
    left: 0;
    bottom: -6px;
}
.tab-links.active-link::after{
    width:50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 13px 0px 0px 3px;
    color: white;
    font-size: larger;
}
.tab-contents ul li span{
    color: rgb(231, 145, 159);
    font-weight: 300;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block ;
}
/*--------------------services---------------*/
#work{
    padding: 40px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work1{
    position: relative;
    overflow: hidden;
    height: 100%;
}
.work1 img{
   width: 100%;
   height: 100%;
   object-fit: contain;
   border-radius: 14px;
   display: block;
   transition: transform 0.6s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#eb7b9f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.7s;
}
.layer h3{
    font-weight: 300;
    margin-bottom: 15px; 
}
.layer a{
    margin-top: 20px;
    color: rgb(208, 94, 111);
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work1:hover img{
transform:scale(1.5);
}
.work1:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ca6896;
    padding: 14px 5px;
    border-radius:6px ;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.btn:hover{
    background: #c75c7e;
}
/*-----------------contact-----------------------*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
   margin-top: 30px;
   font-size: larger;
}
.contact-left p i{
     color: #ca6896;
     font-size: 17px;
     margin-right: 10px;
}
.social-icons a{ 
    text-decoration: none;
    display: inline-block;
    margin-right: 4px;
    margin-top: 17px;
    color:white;
    font-size: 25px;
}
.social-icons a:hover{
    color: #ca6896;
}
.btn.btn2{
    display: inline-block;
    background:#ca6896;
}
.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #ddd3d7;
    padding: 15px;
    margin: 15px 0;
    color: #bd4f83;
    font-size: 20px;
    border-radius: 5px;  
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background:#ddd3d7;
    font-weight: 300;
    font-size: large;
    color: black;
    margin-top: 20px;
}
/*----------------css for small screen------------------*/
nav .fas{
    display: none;
}

@media only screen and (max-width:600px){
     #header{
        background-image: url(images/phn.jpeg);    }
     .header-text{
        margin-top: 100%;
        font-size: 16px;
     }
     .header-text h1{
        font-size: 30px;
     }
     nav .fas{
    display: block;
    font-size: 25px;
     }
     nav ul {
        background: #bd4f83;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px; 
        z-index: 2;
        transition: right 0.5s;
     }
     nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
     }
     .sub-title{
        font-size: 40px;
     }
     .about-col-1,.about-col-2{
        flex-basis: 100%;
     }
     .contact-left,.contact-right{
        flex-basis: 100%;
     }
     .copyright{
        font-size: 15px;
     }

}
#msg{
    color: #ca6896;
    margin-top: -40px;
    display: block;
}